@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

$sombraT: 0px 0px 12px rgb(255, 255, 255);
$sombrali: 5px 5px 12px rgb(0 0 0);

$redestran: 0.8s;

// mapa de bg-colors y colores de texto
$colores:(
    colorform: rgb(206, 194, 194),
    bg_footer-nav: rgb(14 70 70),
    tfooter: rgb(119, 148, 156),
    tlogo: #fff,
    cfooter-nav: rgb(25, 135, 84),
);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/* -css- nav y footer todas las paginas */
header{
    width: 100%;
    background-color: map-get($colores ,bg_footer-nav);
    
    .navbar-expand-lg{
        width: 100%;
        padding: 0;
        font-size: 20px;

        .logo{
            .jyr{
                color: map-get($colores, tlogo);
                align-content: center;
                text-shadow: $sombrali;
                padding-left: 5px;
            }
        }

        .navbar-toggler{
            border: var(--bs-border-width) solid black !important;

            &:focus{
                box-shadow: 0 0 var(--bs-navbar-toggler-focus-width);
            }
        }

        li{
            padding-right: 15px;
            .nav-link{
                color: map-get($colores, cfooter-nav);
                text-shadow: $sombrali, $sombrali, $sombrali;
                
                &:hover{
                    color: #fff;
                }

                &.active{
                    color: #fff;

                    &:hover{
                        color: map-get($colores, cfooter-nav)
                    }
                }
            }
        }

    }

    
    
}

footer{
    text-align: center;
    background-color: map-get($colores, bg_footer-nav);
    padding: 10px;

    p{
        margin: 5px;
        font-size: 30px;
        color: map-get($colores, cfooter-nav);
        text-shadow: $sombrali;
        bottom: 0;
    
    }
    
    .redes{
        margin: 5px;
        padding: 5px;
        padding-top: 20px;
        font-size: 35px;
        list-style: none;
        
        a{
            color: map-get($colores, cfooter-nav);
            text-shadow: $sombrali;
            padding-left: 5px;
            padding-right: 5px;
            transition:$redestran all;
            
            & i:hover{
                transition: 0.5s;
                transform: scale(1.2);
            }
            
            &.ig:hover{
                color: rgb(218, 24, 88);
                transition: $redestran;
            }
            
            &.fc:hover{
                color: rgb(70, 70, 241);
                transition: $redestran;
            }
            
            &.pint:hover{
                color: red;
                transition: $redestran;
            }
        }
    }
}

/* inicio -css- index */

.titulo_index{
    height: 90px;
    width: 100%;
    background-image: url(../img/imagen_fondo.jpeg);
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 4px dotted ;
}

.seccion-carrusel{
    margin-top: 10px;
}

.titulo_body{
    font-size: 40px;
    letter-spacing: 5px;
    padding-bottom: 10px;
    text-shadow: $sombraT, $sombraT;
}
.parrafos_body{
    font-size: 25px;
    color: #00023c;
    font-family: 'Titan One', 'cursive';
    text-shadow: $sombraT, $sombraT;
}

.bg-secondary {
    --bs-bg-opacity: 50%;
    background-color: rgba(var(--bs-secondary-rgb),var(--bs-bg-opacity))!important;
}

/* inicio -css- servicios */

.sec_cartas{
    display: flex;
    justify-content: space-around;
}

.card{
    margin-top: 10px;
    background-color: rgb(153, 168, 173);
    
    img{
        padding-top: 5px;
        border-radius: 10px;
    }
}


/* inicio -css- galeria */
@mixin galeria($cstart, $cend, $rowstart, $rowend, $bg_size) {
    grid-column-start: $cstart;
    grid-column-end: $cend;
    grid-row-start: $rowstart;
    grid-row-end: $rowend;
    background-size: $bg_size;
}

.main_galeria{
    background-image: url(../img/imagen_fondo_galeria.jpg);
    background-attachment: fixed;
    background-size: cover;
    
    .t_galeria{
        text-align: center;
        margin-bottom: 20px;
        padding: 0;
        padding-top: 20px;
        text-shadow: $sombraT, $sombraT, $sombraT;
    }
    
    .galeria{
        width: 97%;
        margin-left: 1.5%;
        padding-bottom: 20px;
        height: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 500px);
        grid-gap: 15px;
        
        .img{
            border: 2px solid black;
            border-radius: 20px;
            transition: 1s;
            background-position: center;
        
            &:hover{
                transform: scale(1.02);
                transition: 1s;
            }
        }
        
        
        .img1{
            @include galeria(1, 2, 1, 3, cover);
            background-image: url(../img/proceso1.jpg);
        }
        
        .img2{
            @include galeria(2, 4, 1, 2, cover);
            background-image: url(../img/mueble-cajon.jpg);
        }
        
        .img3{
            @include galeria(2, 3, 2, 3, cover);
            background-image: url(../img/mueble1.jpeg);
        }
        
        .img4{
            @include galeria(3, 4, 2, 4, cover);
            background-image: url(../img/porta_joystick.jpeg);
            
            &:hover{
                background-image: url(../img/porta_joystick-1.jpeg);
                background-size: cover;
                transition: 1s;
            }
        }
        
        
        .img5{
            @include galeria(1, 2, 3, 4, cover);
            background-image: url(../img/banco.jpeg);
        }
        
        .img6{
            @include galeria(2, 3, 3, 4, cover);
            background-image: url(../img/lapicero.jpeg);
            background-position: center;
            
            &:hover{
                background-image: url(../img/lapicero-2.jpeg);
                background-size: cover;
                transition: 1s;
            }
        }
    }
}

.subida{
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    border-radius: 60px;
    color: white;
    background-color: #01057e;
    text-align: center;
    line-height: 50px;
    border: 2px solid white;
    position: fixed;
}
/* fin -css- galeria*/

/* inicio -css- ubicacion */

.main_ubicacion h2{
    h2{
        padding: 0;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .mapa{
        border: 2px solid black;
    }
    
    .direccion{
        margin: 10px 0 10px 5px;
        font-size: 25px;
    }
}

/* fin -css- ubicacion */

/* inicio -css- contacto */

.main_contacto{
    background-image: url(../img/imagen_fondo_galeria.jpg);
    background-size: cover;
    background-position: center;
    
    .titulo_body{
        padding: 15px 0 10px 10px;
        text-shadow: $sombraT, $sombraT, $sombraT;
    }
    
    .parrafos_body{
        text-shadow: $sombraT, $sombraT;
        padding-bottom: 20px;
        padding-left: 10px;
    }
}

/* --css del formulario de contacto */

.contenedor_form{
    padding-bottom: 20px;
    
    
    .formulario{
        display: flex;
        justify-content: flex-start;
        border: 5px solid white;
        padding: 20px 0 15px 10px;
        margin-left: 15px;
        width: 50%;
        
        
        
        .formulario input{
            background-color: map-get($colores, colorform);
            
            &::placeholder{
                color: rgb(83, 81, 81);
                text-align: center;
            }
        }
        
        .formulario textarea{
            background-color: map-get($colores, colorform);
            border-radius: 15px;
        }
        
        .input_mail_telefono{
            width: 300px;
            border-radius: 20px;
        }
        
        .boton{
            position: 50%;
        }
    }
}

.accordion{
    padding: 15px 0 10px px;
    padding-bottom: 15px;
    --bs-accordion-btn-padding-y: 0px !important;
    /* color del acordeon desplegado */
    --bs-accordion-active-bg: map-get($colores, colorform);
    --bs-accordion-active-color: black;
    
    
    h2{
        padding: 15px 0 15px 0px;
    }
}

.label_contacto{
    font-family: 'Bangers','cursive';
    font-size: 22px;
    padding-left: 15px;
    text-shadow: $sombraT, $sombraT;
}

.acordeon_titulo{
    @extend .label_contacto;
}

/* fin -css- contacto */

/* inicio de media queries */

@import "mediaqueires";